h1 {
    color: blue;
}

.texto-principal {
    color: fuchsia;
}

h2 {
    color: purple;
    background-color: #CCFFFF;
}

.texto-sundae {
    color: #6600FF;
}

.cono {
    color: #7B1FA2;
    background-color: #FFFF99;
}
.helado-de-cono {
    color: #336633;
}

.roll {
    color: #990033;
    background-color: #A3E4D7;
}

.ice-roll {
    color: #FF0099;
}

.dietetico  {
    color: #633974;
    background-color: #FFCCFF;
}

.ice-dietetico {
    color: #00897B;
}

.bingsu {
    color: #FF9999;
    background-color: #8E44AD;
}

.ice-bingsu {
    color: #81C784;
}

.gelato {
    color: #1A5276;
    background-color: #66FF99;
}

.ice-gelato {
    color: #CC99FF;
}

.sorbete {
    color: #2471A3;
    background-color: #CC9999;
}

.ice-sorbete {
    color: #FBC02D;
}
